<!DOCTYPE html>
<html lang="en">
    {% extends "base.html" %}
    {% block title %}{{title}}{% endblock %}
    {% block content %}
        <body>
            <div class="container">
                <h1 class="display-1 text-center">Hello, World!</h1>
                <div class="row justify-items-center text-center">
                    <div class="col">
                        <a href="test_if">Click here to test an if statement</a>
                    </div>
                </div>
                <div class="row justify-items-center text-center">
                    <div class="col">
                        <a href="test_matching">Click here to test how to match input</a>
                    </div>
                </div>
                <div class="row justify-items-center text-center">
                    <div class="col">
                        <a href="test_for">Click here to test a for loop</a>
                    </div>
                </div>
            </div>
        </body>
    {% endblock %}
    
</html>
