<!DOCTYPE html>
<html lang="en">
    {% extends "base.html" %}
    {% block title %}{{title}}{% endblock %}
    {% block content %}
        <body>
            <div class="container">
                <div class="row align-items-center text-center">
                    <h1 class="display-1">Hello, World!</h1>
                    <a href="test_if">Click here to test an if statement</a>
                    <a href="test_matching">Click here to test how to match input</a>
                    <a href="test_for">Click here to test a for loop</a>
                </span>
            </div>
        </body>
    {% endblock %}
    
</html>
