{% extends "base.html" %}

{% block title %}{{title}} {% endblock %}
{% block content %}
<body>
    <!--- <center><h1 style="color: white">Anteater Sanity Check</h1></center> --->
    <center><h1 style="color: white">ABOUT</h1></center>

      <div class="accordion" id="accordionAbout">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Our Mission
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionAbout">
              <div class="accordion-body">
                <p>Our mission is to help students at the UCI make informed decisions 
                  during course registration by providing a valuable and accessible
                  tool for estimating course difficulty.</p>
                <p>AnteaterSanityCheck is committed to enhancing the student experience at UCI 
                  by equipping students with the knowledge they need to thrive academically, 
                  creating a community where informed decision-making leads to academic success.</p>
              </div>
            </div>
          </div>

        
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                How does it work?
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionAbout">
              <div class="accordion-body">
                <p>Using the RateMyProfessor and PeterPortal APIs, we are able to provide
                  a rough estimate of the average difficulty of a course by consolidating
                  student reviews on the professors who have taught it before.</p>
                <p>Simply navigate to the "Courses" page of our website, input the 
                  department and class number of the course you want to check, and 
                  we'll give you the course's overall difficulty rating!</p>  
              </div>
            </div>
          </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Why use AnteaterSanityCheck?
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionAbout">
            <div class="accordion-body">
              <p>We've got the answer to the question on every student's 
                mind before enrolling in a course: "How bad is it going to be?"</p>
              <p>And who would provide better insight than students who have
                taken it before?</p>
              <p>Our app offers an estimate of how difficult a particular course 
                at UCI might based on feedback from past students, so Anteaters can
                make more informed decisions during registration, ensuring a smoother
                academic journey.</p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Where do these scores come from?
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionAbout">
            <div class="accordion-body">
              <p>The heart of AnteaterSanityCheck lies in the experiences of past students.</p>
              <p>Our difficulty scores are retrieved from comprehensive reviews, providing you with 
                a detailed breakdown of each professor who has taught the course and their 
                individual difficulty ratings.</p> 
              <p>This allows you to compare and contrast teaching styles, helping you identify which 
                professors might present a more challenging learning experience.</p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Who made AnteaterSanityCheck?
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionAbout">
            <div class="accordion-body">
              <p>Kevin Mach - [insert text + image]</p>
              <p>Brian Le - [insert text + image]</p>
              <p>Alyssa Ly - [insert text + image]</p>
              <p>Francine Go - [insert text + image]</p>
            </div>
          </div>
        </div>

    </div>

</body>
{% endblock %}