{% extends "base.html" %}

{% block title %}{{title}} {% endblock %}
{% block content %}
<body>
    <h1>About</h1>
    <p>about page</p>


    <div class="accordion" id="accordionAbout">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Why use AnteaterSanityCheck?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionAbout">
            <div class="accordion-body">
              We want to answer the question every student has before
              enrolling in a class: "How bad is it going to be?" Our app
              gives an estimate of how difficult a particular course at UCI
              might be according to past students.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              How does it work?
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionAbout">
            <div class="accordion-body">
              Using the RateMyProfessor and PeterPortal APIs, we can give a
              rough estimate of the average difficulty of a class based on
              the professors who have taught it before.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Where do these scores come from?
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionAbout">
            <div class="accordion-body">
              The difficulty scores are based on the reviews of past students
              who have taken the same course at UCI.
            </div>
          </div>
        </div>
      </div>



</body>
{% endblock %}