{% extends "base.html" %}

{% block title %} Courses {% endblock %}

{% block content %}
<div class="container m-3">
    <form method="POST" action="" class="needs-validation" no-validate>
        {{form.csrf_token()}}
        <div class="row ms-3 my-2">
            <div class="col-2 text-end align-self-center">
                <label for="department" class="form-label my-auto">Department: </label>
            </div>
            <div class="col-4 align-self-center">
                <!--Corresponds to requests.values["dept"]-->
                <select id="dept_selected" name="dept_selected" class="form-select form-select-md py-1" selected="">
                    {% if request.values["dept_selected"] %}
                    {% for department in form.dept_selected.choices %}
                    {% if request.values["dept_selected"] == department[0]%}
                    <option name="dept" value="{{department[0]}}" selected>{{department[1]}}</option>
                    {% endif %}
                    <option name="dept" value="{{department[0]}}">{{department[1]}}</option>
                    {% endfor %}
                    {% else %}
                    <option selected disabled value="">Select a department</option>
                    {% for department in form.dept_selected.choices %}
                    <option name="dept" value="{{department[0]}}">{{department[1]}}</option>
                    {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="col-6 align-self-center">
                {% if "dept_selected" in form.errors%}
                <div class="alert alert-danger ps-2 py-1 m-0">{{ ", ".join(form.errors["dept_selected"])}}</div>
                {% endif %}
            </div>
        </div>
        <div class="row ms-3 my-2">
            <div class="col-2 text-end align-self-center">
                <label for="class_number" class="form-label my-auto">Class Number:</label>
            </div>
            <div class="col-4 has-validation">
                <!--Corresponds to requests.values["class_number"]-->
                {{form.class_number(class="form-control form-control-sm py-1")}}
            </div>
            <div class="col-6 align-self-center">
                {% if "class_number" in form.errors%}
                <div class="alert alert-danger ps-2 py-1 m-0">{{ ", ".join(form.errors["class_number"])}}</div>
                {% endif %}
            </div>
        </div>
        <div class="row ms-3 my-2 justify-content-center">
            <div class="col-3 align-self-center text-center">
                {{form.submit(class="btn btn-light rounded-pill")}}
            </div>
        </div>
    </form>
</div>
{{form.departments}}
{% endblock %}
