<!DOCTYPE html>
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css')}}">
</head>
<body>

    <div class="topnav">
        <!---container-fluid stretches the full horizontal with 15px padding--->
        <!---including p-0 creates it with no padding at all--->
        <div class="container-fluid p-0">
            <a href="/">Home</a>
            <a href="/courses">Courses</a>
            <!---making the About link in the nav bar right aligned--->
            <div class="right">
                <a href="/about">About</a>
            </div>
        </div>
    </div>

    </body>
</html>
